@use "../variables" as *;
@use "../mixins" as *;

footer {
  width: 100%;
  min-height: 1rem;
  padding: 2.5rem 0;
  border-top: 1px solid $bg-line;
  .foot_con {
    height: 100%;
    @include flex-between-center;
    .publisher {
      display: flex;
      gap: 1rem;
      .snsIcon {
        display: flex;
        gap: 1rem;
        li {
          width: 1rem;
          height: 1rem;
          a {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
