@use "../variables" as *;
@use "../mixins" as *;

footer {
  width: 100%;
  min-height: $spacing-16;
  padding: $spacing-40 0;
  border-top: 1px solid $bg-line;
  .foot_con {
    height: 100%;
    @include flex-between-center;
    .publisher {
      display: flex;
      gap: $spacing-16;
      .snsIcon {
        display: flex;
        gap: $spacing-16;
        li {
          width: $spacing-16;
          height: $spacing-16;
          a {
            @include w100-h100;
            img {
              @include w100-h100;
            }
          }
        }
      }
    }
    a {
      transition: color 0.4s ease;
      @include text-hover-ashblue;
    }
  }
}
