@use "../variables" as *;
@use "../mixins" as *;

header {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid $bg-line;
  .head_con {
    height: 100%;
    @include flex-between-center;
    .logo {
      width: auto;
      height: 1.25rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .t_menu {
      display: flex;
      color: $black;
      gap: 3rem;
      .me_list {
        display: flex;
        gap: 3rem;
      }
      button {
        display: flex;
        gap: 0.25rem;
        cursor: pointer;
        .flag {
          width: 1rem;
          height: 1rem;
          background-color: $white;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
