@use "../variables" as *;
@use "../mixins" as *;

header {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid $bg-line;
  .head_con {
    height: 100%;
    @include flex-between-center;
    .logo {
      width: auto;
      height: 1.25rem;
      img {
        @include w100-h100;
      }
    }
    .t_menu {
      display: flex;
      color: $black;
      gap: $spacing-48;
      .me_list {
        @include flex-align-center;
        gap: $spacing-48;
      }
      button {
        display: flex;
        gap: $spacing-4;
        padding: $spacing-8 $spacing-16;
        border: 1px solid $bg-line;
        border-radius: 99rem;
        cursor: pointer;
        .flag {
          width: $spacing-16;
          height: $spacing-16;
          background-color: $white;
          border-radius: 50%;
          img {
            @include w100-h100;
            object-fit: contain;
          }
        }
      }
    }
  }
}
