@use "../variables" as *;
@use "../mixins" as *;

header {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid $bg-line;
  .head_con {
    height: 100%;
    @include flex-between-center;
    .logo {
      width: auto;
      height: 1.25rem;
      img {
        @include w100-h100;
      }
    }
    .t_menu {
      display: flex;
      color: $black;
      gap: $spacing-48;
      .me_list {
        @include flex-align-center;
        gap: $spacing-48;
        .nav_btn {
          width: fit-content;
          height: fit-content;
          a {
            @include w100-h100;
            display: block;
            position: relative;
            transition: color 0.4s ease;
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: $ashBlue;
              position: absolute;
              left: 0;
              bottom: -4px;
              z-index: -1;
              transform: scaleX(0);
              transform-origin: center;
              transition: transform 0.4s ease;
            }
            @include text-hover-ashblue {
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      button {
        display: flex;
        gap: $spacing-4;
        padding: $spacing-8 $spacing-16;
        border: 1px solid $bg-line;
        @include round-box;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.4s ease;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .flag {
          width: $spacing-16;
          height: $spacing-16;
          background-color: $white;
          @include circle-box;
          overflow: hidden;
          img {
            @include w100-h100;
            object-fit: contain;
          }
        }
      }
    }
  }
}
