@use "../variables" as *;
@use "../mixins" as *;

aside.sidebar {
  @include flex-column;
  gap: $spacing-56;
  .label_group {
    @include flex-column;
    gap: $spacing-24;
    .group_label {
      @include flex-align-center;
      gap: 0.75rem;
      span {
        width: $spacing-4;
        height: 100%;
        background-color: $ashBlue;
      }
    }
    .item_wrpper {
      @include flex-column;
      &.category {
        gap: $spacing-8;
      }
      &.notice {
        gap: $spacing-16;
      }
    }
  }
  @include tb-down {
    display: none;
  }
}
