@use "../variables" as *;
@use "../mixins" as *;

body {
  background-color: $bg-gray;
}

.inner {
  width: $pc-contents;
  margin: 0 auto;
  @include tb-down {
    width: 100%;
    margin: 0;
  }
}

main {
  @include w100-h100;
  @include flex-column;
  .main_ban {
    border-bottom: 1px solid $bg-line;
  }
  .main_exp {
    border-bottom: 1px solid $bg-line;
  }
  .main_con {
    display: flex;
    gap: 8rem;
    padding-top: $spacing-64;
    margin-bottom: 6rem;
    @include pc-content-down {
      justify-content: space-between;
      gap: initial;
    }
  }
}
