*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba($color: #000000, $alpha: 0);
}

body {
  min-height: 100vh;
  font-family: "Onest", "KoddiUDOnGothic", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: -0.02em;
  word-break: keep-all;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}

input[type="search"]::-moz-search-clear {
  display: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

img,
video {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
