@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@mixin grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@mixin grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
