$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;
$spacing-72: 4.5rem;
$pc-contents: 1250px;
$bp-tb: 1130px;
$bp-mo: 375px;
